<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Web Geocoder</title>
    <link rel="stylesheet" href="../static/main.css">
  </head>
  <body>
    <h1>Web Geocoder by Nikola Jankovic</h1>
    <h3>Please upload your CSV file. The addresses column should be named address or Address.</h3>
    <div class="content">
      <form action="index.html" method="post" enctype="multipart/form-data">
        <input type="file" name="file"> <br>
        <button type="submit" name="button">Submit</button>
      </form>
    </div>
  </body>
</html>
